*
{
	margin:0px auto;
}
#small-header
{
	width: 100%;
	height: 50px;
	/*border:black solid 1px;*/
	background: linear-gradient(to left, #663300 0%, #000000 72%);
}
#small-header2
{
	width: 90%;
	height: 50px;
	/*border: black 1px solid;*/
	background: linear-gradient(to left, #663300 0%, #000000 72%);
}
#i1
{
	float: right;
	line-height: 50px;
	margin-right: 150px;
	color: white;
}
#sh1
{
	width: 35%;
	height: 20px;
	/*border: white solid 1px;*/
	float: left;
	margin-top: 17px;
	margin-left:  50px;
}
#para1
{
	color:white;
	font-family: saad;
	font-size: 15px;
}
@font-face
{
	font-family: 'saad';
	src:url('/weskia Center study/Assignments/Assignment2/fonts/HunDIN1451.ttf') format('TrueType');
}
#a1
{
	text-decoration: none;
	color:#ff751a;
}
#sh2
{
	width: 30%;
	height: 20px;
	/*border: 1px solid white;*/
	float: right;
	margin-right: 150px;
	margin-top: 15px;
}
.a2
{
	color: white;
	text-decoration: none;
	padding: 10px;
	font-family: saad;
}


#main-header
{
	width: 100%;
	height: 100px;
	/*border: black solid 1px;*/
}
#main-header2
{
	width: 80%;
	height: 100px;
	/*border: black solid 1px;*/
}
#mh1
{
	width: 33.1%;
	height: 100px;
	/*border:solid black 1px;*/
	float: left;
}
#mh2
{
	width: 33.1%;
	height: 100px;
	/*border:solid black 1px;*/
	float: left;
}
#mh3
{
	width: 33.1%;
	height: 100px;
	/*border:solid black 1px;*/
	float: left;
}
#m1
{
	width: 100%;
	height: 15px;
	/*border: black solid 1px;*/
	margin-top: 40px;
	margin-left: 20px;

}
i
{
	font-family: saad;
}
h1
{
	font-family: saad;
	color: #ff751a;
}
#m2
{
	width: 70%;
	height: 35px;
	/*border: solid black 1px;*/
	margin-top: 35px;
}
#m3
{
	width: 70%;
	height: 30px;
	/*border: 1px solid black;*/
	margin-top:30px;
}
#btn
{
	background-color:  #ff751a;
	font-size: 20px;
	border: 0px;

}
input
{
	border: 3;
	font-size: 15px; 
}
#nav
{
	width: 100%;
	height: 50px;
	/*border: black solid 1px;*/
	background-color: #ff751a;
}
#nav-menu
{
	width: 90%;
	height: 50px;
	/*border: black solid 1px;*/
	background-color:#ff751a;
}
#nav1
{
	/*border: 1px solid black;*/
	width: 75%;
	height: 50px;
}
.n1
{
	line-height: 45px;
	padding: 13px;
	text-decoration: none;
	color:white;
	font-family: saad;
}
#banner
{
	width: 100%;
	height: 400px;
	background-image: url('C:/Users/saadi/Desktop/Assignment2/images/Banner/pic1.jpg');
	background-size: 100% 400px;
}
#mini-banner
{
	width: 100%;
	height: 400px;
	background-color: #000000bf;
}
#heading1
{
	color: white;text-align: center;
	font-family: saad;

}
#mini
{
	width: 50%;
	height: 60px;
	float: left;
	margin-top: 150px;
	margin-left: 300px;
}
#section
{
	width: 100%;
	height: 300px;
	background-color: #e6e6e6; 
}
#mini-section
{
	width: 80%;
	height: 300px;
	/*border: solid 1px black;*/
}
#ms1
{
	width: 30%;
	height: 50px;
	/*border: black solid 1px;*/
	float: left;
	margin-left: 350px;
	margin-top: 50px;
}
#heading2
{
	color: #000;
	font-family: saad;

}
#dash
{
	margin-top: 10px;
	width: 40%;
	border: 1px solid #1a8cff;
}
#ms2
{
	width: 70%;
	height: 30px;
	/*border:1px solid black;*/
	float: left;
	margin-top: 70px;
	margin-left: 150px;
}
#btn1
{
	border: 0px;
	font-size: 15px;
	width: 49%;
	height: 30px;
	margin-right: -5px;
	background-color:#ff751a;
}
#btn2
{
	border: 0px;
	font-size: 15px;
	width: 49%;
	height: 30px;
}
#mobile
{
	float: left;
	margin-top: -750px;
	/*box-shadow: 10px 10px 10px 10px;*/

}
